/**
 *  Static stylesheet for live demo (preview)
 *
 *  (c) 2012 Grenade Technologies
 *  http://www.grenadeco.com
 */

#mopub_demo {
    float: right;
    width:270px;
    padding-top:20px;
    bottom:-75px;
    right:10px;
    position: fixed;
    padding:0px;
    z-index: 9999;
}

#mopub_demo .phone {
    background: url('../images/demo/iphone.png') no-repeat top center;
    height:395px;
    padding:93px 0 40px;
}

#mopub_demo .viewer {
    background:#fff;
    width:235px;
    height:345px;
    margin:0 auto 0;
    position: relative;
    overflow: hidden;
    border: solid 1px #333;
}

.demo_topbar_background { background:#000; }
.demo_topbar {
    background-color: #a5585a;
    background-image: url('../images/demo/topbar_background.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    color:#fff;
    padding:3px 0;
    margin: 0;
    text-align: center;
    height: 32px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.demo_topbar img {
    margin:0;
    padding:0;
    max-width:230px
}

.demo_menu {
    background-color: #444;
    background-image: url('../images/demo/category_menu_back.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    color:#fff;
    text-align: center;
    margin: 0;
    width: 2000px;
    overflow:hidden;
    height: 32px;
}

.demo_menu ul {
    list-style: none;
    padding: 0 0 0 0 !important;
    margin: 6px 6px !important;
}

.demo_menu ul li {
    list-style: none;
    padding:0;
    margin:0;
    float: left;
}

.demo_menu ul li a {
    color:#fff;
    text-decoration: none;
    padding-right:10px;
    margin-right:10px;
    font-size: 11px
}


.demo_menu ul li.current a {
    background-color:#555;
    background-image: url('../images/demo/menu_btn_background_right.png');
    *background-image: none; /*IE7*/
    background-repeat: no-repeat;
    background-position: top right;
    padding: 5px 10px 2px 0;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

.demo_menu ul li.current a span {
    background-image: url('../images/demo/menu_btn_background_left.png');
    *background-image: none; /*IE7*/
    background-repeat: no-repeat;
    background-position: top left;
    padding:5px 0 4px 10px;
}

.demo_body {
    paddding:2px;
    color:#999;
    height: 300px;
}

.demo_body .ad_display {
    margin:3px;
}

.demo_bottommenu {
    position: absolute;
    display: block;
    overflow: hidden;
    height:42px;
    bottom:0;
    left:0;
    right:0;
    border-top: solid 1px #000;
    background-color: #000;
    background-image: url('../images/demo/bottommenu_background.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    color:#fff;
    padding:0 0;
}

.demo_bottommenu {
    list-style: none;
    padding:0;
    margin:0;
}

.demo_bottommenu li {
    list-style: none;
    padding:0;
    margin:2px 0 0;
    float: left;
}

.demo_bottommenu li a {
    padding:0;
    margin:0 0 0;
    float: left;
    display: block;
    height:50px;
    width:47px;
    overflow: hidden;
    text-indent:-99999px;
    background-image: url('../images/demo/icons.png');
    background-repeat: no-repeat;
    background-position: 10px 0;
}

#tab_menu_items {
    margin:0; padding:0;
}

.demo_bottommenu li.icon_recent a { background-position: 05px 0; }
.demo_bottommenu li.icon_pages a { background-position: 05px -50px; }
.demo_bottommenu li.icon_search a { background-position: 05px -89px; }
.demo_bottommenu li.icon_more a { background-position: 05px -410px; }
.demo_bottommenu li.icon_video a { background-position: 05px -135px; }
.demo_bottommenu li.icon_audio a { background-position: 05px -180px; }
.demo_bottommenu li.icon_categories a { background-position: 05px -226px; }
.demo_bottommenu li.icon_tags a { background-position: 05px -272px; }
.demo_bottommenu li.icon_archive a { background-position: 05px -350px; }
.demo_bottommenu li.icon_about a { background-position: 05px -363px;  }
.demo_bottommenu li.icon_contact a { background-position: 05px -455px;  }
.demo_bottommenu li.icon_latest a { background-position: 05px -500px;  }

.demo_article {
    border-bottom: solid 1px #ddd;
    line-height:1;
    padding-bottom:1px;
    padding-right:20px;
    background: url('../images/demo/arrow.png') no-repeat center right;
    line-height: 1em;
    min-height: 55px;
    clear: left;
}

.demo_article img {
    float: left;
    margin:0 5px 0 0;
    padding:0;
    width:57px;
    height:57px;
}

.demo_article h3 {
    font-size:11px;
    font-weight: normal;
    padding:5px 0 2px;
    margin:0;
    line-height: 1em;
}

.demo_article h3 a {
    color:#333;
    text-decoration: none;
    font-weight: bold;
}

.demo_article .paragraph {
    font-size:10px;
    padding:0;
    margin:0;
    line-height: .9em;
}

.demo_article .meta {
    color:#bbb;
    font-size:9px;
    padding:0;
    margin:0;
}


.plain .demo_body .imageview {
    display: none;
}

.demo_body .demo_article_1 .imageview {
    margin-left:-1px;
}

/*  Featured  */

.featured .demo_body .demo_article_2 {
    display: block;
    border:0;
}

.featured .demo_body .demo_article_2 h3 {
    padding-top:10px;
}

.featured .demo_body .demo_article_1 img {
    width:236px;
    height:140px;
    background:#333;
    display: none;
}

.featured .demo_body .demo_article_1 .imageview {
    width:236px;
    height:140px;
    background:#222;
    background-position: 0 0;
}

.featured .demo_body .demo_article_1 .demo_post_content {
    background: black;
    width:236px;
    padding:5px;
    display: block;
    position: absolute;
    top:152px;
    color:#fff;
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.featured .demo_body .demo_article_1 .demo_post_content h3 a,
.featured .demo_body .demo_article_1 .demo_post_content div.paragraph,
.featured .demo_body .demo_article_1 .demo_post_content div.meta
{
    color: #ffffff !important;
}

.featured .ad_container { display: none; }

/*  Pages  */

.page .ad_container { display: none; }

.page .demo_body {
    margin-bottom:10px;
}
.page .demo_body .demo_article_1 img {
    display: none;
}

.page .demo_body .demo_article_1 .imageview {
    height:235px;
    width:236px;
    background:#222;
}

.page .demo_body .demo_article_1 .demo_post_content {
    background: black;
    width:236px;
    padding:5px;
    display: block;
    position: absolute;
    bottom:43px;
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.page .demo_body .demo_article_1 .demo_post_content .paragraph {
    display: none;
}

.page .demo_body .demo_article_1 .demo_post_content h3 a,
.page .demo_body .demo_article_1 .demo_post_content div.paragraph,
.page .demo_body .demo_article_1 .demo_post_content div.meta
{
    color: #ffffff !important;
}

.page .ad_display { display: none }

#demoAdvertDefault {
    display: none;
}

#demoAdvertCustomDefault {
    display: none;
}

#demoAdvertTemp {
    display: none;
}

#demo_ad_embed_code {
    width: 229px;
    height: 59px;
    overflow: hidden;
}

#demo_ad_embed_code_temp {
    width: 229px;
    height: 59px;
    line-height: 59px;
    overflow: hidden;
    display: none;
    background:#f1f1f1;
    color:#999;
    text-align: center;
    border: solid 1px #ddd;
}
