/**
 *  MoPublication module for Drupal
 *  http://www.mopublication.com
 *
 *  Main style sheet
 *
 *  (c) 2012 Grenade Technologies
 *  http://www.grenadeco.com
 */

@font-face {
    font-family: 'marion';
    src: url('fonts/marion-webfont.eot');
    src: url('fonts/marion-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/marion-webfont.woff') format('woff'),
    url('fonts/marion-webfont.ttf') format('truetype'),
    url('fonts/marion-webfont.svg#marion') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Override the vertical tabs 100% width on form elements */

.vertical-tabs .form-type-textfield input {
    width: auto;
}

label {
    font-weight: normal;
}

.description {
    max-width: 50%;
}

.wide .form-item > label {
    width: 180px;
    display: block;
    float: left;
    margin-right: 20px;
}

.wide .form-item > label.option {
    width: auto;
    float: none;
    display: inline;
}

.wide .form-item .description {
    margin-left: 200px;
    clear: left;
}

.wide .fieldset-wrapper .suffix {
    margin-left: 200px;
    clear: left;
}

.wide .form-item .form-textarea-wrapper {
    float: left;
    width: 300px;
    clear: none;
}

.wide .form-item .form-radios {
    float: left;
    /*width: 500px;*/
}

.wide .form-item .settings-form-right {
    float: left;
    width: 300px;
    clear: none;
}

/*  Layout options  */

table.mopub-layout-options, table.mopub-layout-options * {
    border-width: 0 !important;
}

table.mopub-layout-options td {
    width: 120px;
}

label.mopub-layout-icon-plain {
    display: block;
    height: 122px;
    width: 108px;
    background: transparent url("../images/layouts/layout_plain.png") no-repeat;
}

label.mopub-layout-icon-featured {
    display: block;
    height: 122px;
    width: 108px;
    background: transparent url("../images/layouts/layout_featured.png") no-repeat;
}

label.mopub-layout-icon-page {
    display: block;
    height: 122px;
    width: 108px;
    background: transparent url("../images/layouts/layout_page.png") no-repeat;
}

/*  End Layout options  */

.fieldset-wrapper .suffix {
    margin-top: -15px;
}

.form-textarea {
    max-width: 400px;
}

div.grippie {
    display: none;
}

#edit-mopub-topbar-color, #edit-mopub-menu-bg-color, #edit-mopub-menu-active-text-color,
#edit-mopub-menu-active-bg-color, #edit-mopub-menu-text-color, #edit-mopub-content-border-color,
#edit-mopub-content-bg-color, #edit-mopub-type-title-color, #edit-mopub-type-meta-color,
#edit-mopub-type-link-color, #edit-mopub-type-body-color
{
    text-transform: uppercase;
}

#edit-ajax-save {
    position: fixed;
    right: 125px;
    top: 100px;
    z-index: 9999;
}

#mopublication-settings-form .ajax-progress {
    position: fixed;
    right: 160px;
    top: 150px;
    z-index: 9998;
    background-color: #FFF;
    padding: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
}

.mopub_save_success {
    position: fixed;
    right: 145px;
    top: 150px;
    z-index: 9998;
    background-color: #FFF;
    padding: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
}

#mopub_submitting_wait {
    position: fixed;
    top: 230px;
    width: 200px;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: white;
    z-index: 18888;
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

fieldset h2, fieldset h4 {
    padding-top: 18px;
}

fieldset h2:first-of-type {
    padding-top: 10px;
}

table#mopub_tab_selection {
    width: 60%;
}

/*  TableDrag  */
.tabledrag-toggle-weight-wrapper {
    text-align: left;
}

.tabledrag-changed-warning, .warning.tabledrag-changed {
    display: none !important;
}

/*  Bartik fixes  */

.fieldset-wrapper {
    margin-top: 0 !important;
}

h2 {
    margin: 0 0 14px 0 !important;
}


/* http://stackoverflow.com/questions/1726096/tri-state-check-box-in-html */
input.some_selected {
    opacity: 0.5;
}​
/* don't put anything below this point! */
